.filtering {
	// border: 2px solid black;
	// min-height: 204px;
	width: 150px;
	border-radius: 15px;
	&__header {
		display: flex;
		height: 50px;
		align-items: center;
		justify-content: center;
		background-color: rgb(255, 145, 72);
		border-radius: 15px;
		border-bottom: 2px solid black;
	}
	&__subtitle {
		margin: 0;
	}
	&__menu {
		display: flex;
		flex-direction: column;
		list-style: none;
		border-radius: 15px;
		padding: 0;
		margin: 0;
		&_arrow {
			position: absolute;
			width: 0;
			height: 0;
			right: 0;
			border-top: 10px solid transparent;
			// border-right: 10px solid transparent;
			border-left: 10px solid #000;
			border-bottom: 10px solid transparent;
			&_field {
				border-top: 10px solid #000;
				border-right: 10px solid transparent;
				border-left: 10px solid transparent;
				border-bottom: 10px solid transparent;
			}
		}
	}
	li {
		position: relative;
	}
	&__lists {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 50px;
		border-bottom: 1px solid black;
		border-radius: 15px;
	}
	&__lists:hover .filtering__lists_sub {
		display: flex;
	}
	&__lists:hover .filtering__lists_field {
		display: flex;
	}
	&__button {
		width: 100%;
		padding: 0;
		margin: 0;
		border: 0;
		background-color: inherit;
		cursor: pointer;
		overflow: hidden;
		box-sizing: border-box;
		text-align: center;
	}
	&__button_sub {
		color: blue;
		padding: 0 20px;
	}
	&__menu_sub {
		border: 1px solid black;
		position: absolute;
		left: 100%;
		top: 0;
		display: flex;
		flex-direction: column;
		list-style: none;
		border-radius: 15px;
		padding: 0;
		margin: 0;
	}
	&__menu_field {
		// border: 1px solid black;
		border: none;
		position: absolute;
		left: 0;
		top: 100%;
		display: flex;
		flex-direction: column;
		list-style: none;
		// border-radius: 15px;
		padding: 0;
		margin: 0;
	}
	&__lists_field {
		display: none;
		width: 32vw;
	}
	&__lists_sub {
		display: none;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 50px;
		border-bottom: 1px solid black;
		border-radius: 15px;
		// background-color: rgb(119, 247, 119);
	}
	&__field {
		border: none;
	}
}
